<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="myApp">

	<div ng-controller="PokeController">
		IdP: <input type="text" ng-model='idPok'></br>
		Nom: <input type="text" ng-model="nomPok">
		<input type="submit" value="Get">
		<h3>la liste des pokémons</h3>
    	<select > 
    	         
           		<option ng-repeat="poke in listPoke |filter:idPok |filter:nomPok"> {{poke}} </option>
    	</select>
            </br> </br> </br> 
         <strong > veuillez remplir les champs id et nom pour les faire aparaite en dessous</strong>
          		 <p> id et nom : {{idPok+ " " + nomPok}} </p>
		
	</div>
	


	<!-- Dependencies -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>

	<!-- Pokedex app -->
	<script src="js/pokedex.js"></script>


</body>
</html>

