<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div ng-controller="PokeController">
		IdP: <input type="text" ng-model='idPok'></br>
		Nom: <input type="text" ng-model="nomPok">
		<button ng-click="$log.log(nomPok)">Go</button>
		<h3>la liste des pokémons</h3>
    	<select > 
    	         
           		<option ng-repeat="poke in listPoke |filter:idPok |filter:nomPok"> {{poke}} </option>
    	</select>
            </br> </br> </br> 
         <strong > veuillez remplir les champs id et nom pour les faire aparaite en dessous</strong>
          		 <p> id et nom : {{idPok+ " " + nomPok}} </p>

	
	 <div>
<!-- 	   <h4 style="color:red;text-align:center">la liste des pokémons obtenus par $http :</h4> {{pokemons|filter:nomPok}} -->
	</div>
	</div>
	<div  ng-controller="pokeServiceController">
	 <h3> partie 2: affichage des information en utilisant un service</h3>
	    id:{{pake.id}}</br>
	    nom:  {{pake.name}} </br>
	    moves: {{pake.moves}} 
	</div>


	<!-- Dependencies -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>

	<!-- Pokedex app -->
	<script src="js/pokedex.js"></script>


</body>
</html>

